<nav>
    <ul>
        <li><a href="/index_vue">Início</a></li>
        <li><a href="/cercas">Cercas</a></li>
        <li><a href="/admin/login">Logins</a></li>
        <li><a href="/admin/create">Cadastra-se</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/video.html"><img class="icon" src="/_img/camera.png" alt="Ícone de Câmera"></a></li>
        <li><a href="/geo.html"><img class="icon" src="/_img/localizacao.png" alt="Ícone de Localização"></a></li>
    </ul>
</nav>