<nav>
    <ul>
        <li><a href="/index">Início</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/cercas">Cercas</a></li>
        <li><a href="/admins">Logins</a></li>
        <li><a href="/admin/create">Cadastra-se</a></li>
    </ul>
</nav>